@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins';
}

ol {
  list-style-type: auto;
}

li {
  list-style-type: disc;
}

body {
  //background-color: #e9feef;
}

*:focus {
  outline: none;
}

header {
  background-image: url('/masterChef.svg');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: right center;
  /*box-shadow: 0px 2px 19px 3px rgba(0, 0, 0, 0.6);*/
}
.list-none li {
  list-style: none !important;
}

h4 {
  background-image: linear-gradient(360deg, #072211fa -3%, transparent 25%);
  background-size: cover;
  position: relative;
  color: white;
}

.swiper-container .swiper-slide {
  width: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 200px !important;
  max-width: 250px;
}

.item {
  height: 200px !important;
  max-width: 250px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f43f5e !important;
}

.swipper-pagination {
  margin-top: 40px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #15803d !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #15803d;
}
